@addTagHelper *, Vite.AspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ViteAspNetCoreTest</title>
    @*@await RenderSectionAsync("AppMainStyles", required: false)*@
    @{
        IgnoreSection("AppMainStyles");
    }
</head>
<body>
@RenderBody()
<div id="app">
</div>
@await RenderSectionAsync("AppMainScripts", required: false)
</body>
</html>